head {
    cursor: url("cursors/pichu.cur"), auto;
}
body {
    font-family: Verdana, sans-serif;
    background-image: url("images/greenbackground.jpg");
    background-attachment: fixed;
    cursor: url("cursors/pichu.cur"), auto;
}

h1.header {
    padding: 1em;
    color: white;
    background-color: #0000ff;
    clear: left;
    text-align: center;
    border-color: white;
    border: 8px solid;
    -webkit-animation: mymove 5s infinite;
}
    @-webkit-keyframes mymove {
    50% {border-color: lightblue;}
    50% {color: cyan;}

}
h1.basic {
    text-align: left;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: #0066ff;
}

h2 {
    font-family: "Times New Roman", serif;
    color: #0066ff;
}
img.quang {
    display: block;
    margin: auto;
    padding: 1em;
    border-radius: 200px;
}
img.quang2 {
    display: block;
    float: right;
    padding: 1em;
}

table {
    text-align: center;
    padding-bottom: 30px;
}
tr {
    background-color: #5cd65c;
}
th {
    text-align: center;
    background-color: #00cc00;
    padding: 15px;
}
td {
    padding: 15px;
}
div.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
div.menu ul li {
    float: left;
}
div.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
div.menu ul li a:hover {
    background-color: #ff80d5;
}
div.menu ul li a:active {
    background-color: #33d6ff;
}
p.quote {
    color: darkred;
}

div.source {
    margin-left: 30px;
}

h2.source {
    font-weight: bold;
}

div.test {
    position: absolute;
    float: left;
    margin-right: 30px;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: darkred;
    background-color: lightyellow;
}

div.test2 {
    position: fixed;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 6px;
    margin-left: 35em;
    position: static;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: darkred;
    background-color: lightyellow;
}

div.songs, div.hobbies {
    clear: left;
    margin-left: 10px;
    margin-right: 10px;
}