head{
    cursor: url("cursors/pichu.cur"), auto;
}
body {
    font-family: Verdana, sans-serif;
    background: url("images/greenbackground.jpg");
    background-attachment: fixed;
    cursor: url("cursors/pichu.cur"), auto;
}
div.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

div.menu ul li {
    float: left;
}

div.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

div.menu ul li a:hover {
    background-color: #ff80d5;
}

div.menu ul li a:active {
    background-color: #33d6ff;
}

h1.head {
    background-color: yellow;
    padding: 1em;
    color: black;
    text-align: center;
    font-weight: bold;
    border: 8px solid;
    border-color: #ff4d4d;
    -webkit-animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
    50% {border-color: #ff1a1a;}
    50% {color: purple;}
}

img.kappa {
    
    padding-left: 75px;
}

img.firstgame {
    padding-right: 75px;
    padding-left: 100px;
}

h2.game {
    text-align: center;
    font-family: "Times New Roman", serif;
    color: #0066ff;
    padding-bottom: 1em;
}

p.explain {
    text-indent: 50px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: darkred;
    background-color: lightyellow;
}